@use 'vars' as *;

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-x: auto;
    line-height: 1.5;

    .site-wrapper{
        background-image: url('../images/dark-mode-backgroung.jpg');
        background-size: cover;
        background-attachment: fixed;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    a:hover,
    a:active {
        text-decoration: $heading-1 wavy underline;
    }
    
    a:focus {
        border: 1px dotted $bordercolorlight;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        font-family: $headerfonthover;
        font-weight: 400;
        color: $heading-2;
        font-size: 2rem;
    }

    h2{
        font-family: $headerfonthover;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid $heading-1;
    }

    h3 {
        margin-top: 0.75rem;
        font-size: 1.5rem;
        text-decoration: $text-decoration underline;
    }

    section {
        background-color: $bgcolorsection;
        border: 2px solid #19181A;
        border-radius: 0.5rem;
        margin: 2rem 0.25rem;
        padding: 0.75rem 0.5rem;
        height: fit-content;

        ul li {
            list-style:disc;
            margin-left: 2rem;
        }

        a {
            font-weight: 500;    
            text-decoration: none;
            color: $textcolor;
            font-style: italic;
        }
    }

    p, 
    ul, 
    li {
        font-family: $bodyfont;
        font-weight: 300;
        color: $textcolor;
        font-size: 1.25rem;

    }
}

@media (min-width:40em){
    body {
        section{
            margin: 2rem;
            padding: 2rem;
        }
    }
}

@media (min-width:50rem){
    
    body {

        main {
            margin: 0 3rem;
            max-width: 75rem;
        }

        h2,
        h4,
        h5,
        h6{
            font-size: clamp(2rem, 2.5vw, 3rem)
        }
        
        h3 {
            font-size: clamp(1.5rem, 2vw, 2.5rem);
        }

        p, 
        ul, 
        li {
            font-size: clamp(1.25rem, 1.375vw, 1.75rem);
        }

        section {
            width: 70%;
            padding: 2rem;
        }
    }
}