@use 'vars' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bgcolor;
    background: url(/images/dark-mode-backgroung.jpg) repeat fixed;
    background-size: cover;
    overscroll-behavior-x: auto;
    line-height: 1.5;

    .site-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    a:hover,
    a:active {
        text-decoration: $heading-1 wavy underline;
    }
    
    a:focus {
        border: 1px dotted $bordercolorlight;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        font-family: $headerfont;
        font-weight: 400;
        color: $heading-2;
        font-size: 2rem;
    }

    h2{
        font-family: $headerfonthover;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $heading-1;
    }

    h3 {
        margin: 0.5rem 0;
        font-size: 1.5rem;
    }

    section {
        background-color: $bgcolorsection;
        border: 2px solid #19181A;
        border-radius: 0.5rem;
        margin: 2rem 1rem;
        padding: 1rem;
        height: fit-content;

        li {
            list-style: circle;
            margin-left: 2rem;
        }

        a {
            text-decoration: none;
            color: $text-decoration;
            font-style: italic;
        }
    }

    p, 
    ul, 
    li {
        font-family: $bodyfont;
        font-weight: 300;
        color: $textcolor;
        font-size: 1.25rem;
        list-style: none;
        margin: 0.5rem 0;
    }
}

@media (min-width:50rem){
    
    body {

        main {
            margin: 0 3rem;
            max-width: 75rem;
        }

        h2,
        h4,
        h5,
        h6{
            font-size: clamp(2rem, 2.5vw, 3rem)
        }
        
        h3 {
            font-size: clamp(1.5rem, 2vw, 2.5rem);
        }

        p, 
        ul, 
        li {
            font-size: clamp(1.25rem, 1.375vw, 1.75rem);
        }

        section {
            width: 70%; 
        }
    }
}