@use 'vars' as *;

@media (prefers-color-scheme: light){

    body {
        background-color: $bgcolorlight;
        background: url(/images/wallpaper-light.jpg) repeat fixed;
        color: $textcolorlight;

        a:focus {
            border: 1px dotted $bordercolor;
        } 
        
        h2,
        h3,
        h4,
        h5,
        h6{
            color: $bgcolor;
        }

        h2 {
            border-bottom: 2px solid $bgcolor;
        }

        h3{
            color: $textcolorlight
        }

        section {
            background-color: $bgcolorsectionlight;
            border: 2px solid $bordercolorlight;
            
            a:hover,
            a:active {
                text-decoration: $text-decoration wavy underline;
            }
        }

        p,
        li {
            color: $textcolorlight;
        }

        svg {
            fill: $bordercolor;
        }
        
        .navbar {
            h1 {
                color: $bgcolorsection;
            }
        } 

        .nav-menu {
            background-color: $bgcolornavlight;
            border: 2px solid $bordercolorlight;
        }

        .nav-menu.active {
            background-color: $bgcolorlight;
            a {
                color: $bgcolor;
                text-decoration: none;
            }

        }
        .nav-menu {
            .nav-item{
                a {
                    color: $textcolorlight;
                }
                a:hover,
                a:active {
                    text-decoration: $text-decoration wavy underline;
                }
            }
        }

        .site-footer{
            background-color: $bgcolornavlight;
            border-top: 2px solid $bordercolorlight;
            .program-name{
                color: $textcolorlight;
            }
            .github-icon svg{
                fill: $textcolorlight;
            }
            .home-icon svg{
                fill: $textcolorlight;
            }
        }
    }
}
