// COLOR PALETTE

$bgcolor: #2D292F;
$bgcolorsection:#231F22;
$bordercolor: #19181ac7;

$bgcolorlight:#ECEFEF;
$bgcolorsectionlight:#E9EBEC;
$bordercolorlight: #DDE0E0;
$bgcolornavlight: #d8d9d9c4;

$textcolor: #ECEFEF;
$textcolorlight: #2D292F;
$heading-1: #A8DC76;
$heading-2: #78DCE8;
$text-decoration: #FF6188;


$bodyfont: "Barlow", sans-serif;
$headerfont: "Space Grotesk", sans-serif;
$headerfonthover:"Space Mono", monospace;