// COLOR PALETTE

$textcolor: #ECEFEF;
$bgcolor: #2D292F;
$bgcolorsection:#231F22;
$bordercolor: #2D292F;
$bgcolornav: #231f22d5;


$textcolorlight: #2D292F;
$bgcolorlight:#ECEFEF;
$bgcolorsectionlight:#E9EBEC;
$bordercolorlight: #616b71;
$bgcolornavlight: #d8d9d9d5;



$heading-1: #30eba2;
$heading-2: #F1EAE4;
$text-decoration: #4472CA;


$bodyfont: "Barlow", sans-serif;
$headerfont: "Space Grotesk", sans-serif;
$headerfonthover:"Space Mono", monospace;